<div class="contacto">
    <div>
        <form action="/contacto" method="post" class="formulario">
            <section class="form-contact">
                <h4>Formulario de contacto</h4>
                <input class="controls" type="text" name="nombre" id="nombres" placeholder="Ingrese su Nombre">
                <input class="controls" type="email" name="email" id="nombres" placeholder="Ingrese su Email">
                <input class="controls" type="text" name="telefono" id="nombres" placeholder="Ingrese su Telefono">
                <textarea name="comentarios" id=""> Ingrese su mensaje </textarea>
                <input type="submit" value="Enviar">
                {{message}}
            </section>
        </form>

    </div>