<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box-services">
        <div class="services"
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum fugit praesentium esse rerum, deserunt
                sequi. Voluptates, temporibus ex? Dicta non mollitia sint possimus nobis qui earum labore dolor ipsam
                consectetur?</p>
        </div>
    </div>

</body>

</html>