<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box-services">
        <div class="valores">
            <div class="valores1">
                <h4>TRAYECTORIA</h4>
                <p>Más de 40 años analizando la economia y el contexto para traducirlos en resultados.</p>
            </div>
            <div class="valores2">
                <h4>TRANSPARENCIA</h4>
                <p>Experiencia y capacidad logran la impronta de consultora independiente, líder en análisis y
                    resultados.
                </p>
            </div>
            <div class="valores3">
                <h4>EFICACIA Y RESULTADOS</h4>
                <p>Focalizados en obtener mejoras concretas para las Empresas e Instituciones.</p>
            </div>
            <div class="valores4">
                <h4>CONFIANZA Y OBJETIVIDAD</h4>
                <p>Criterios profesionales con respaldo técnico que ayudan a la toma de decisiones.</p>
            </div>
            <div class="valores5">
                <h4>EXPERIENCIA Y PRESTIGIO</h4>
                <p>En un mundo cambiante, en un país complejo, la consultora ha demostrado su permanencia y eficacia.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>
            </div>
            <div class="valores6">
                <h4>EXCELENCIA</h4>
                <p>Proponemos un servicio personalizado y objetivo. Centrado en simplificar la complejidad coyuntural.
                </p>

            </div>
        </div>

</body>

</html>