<p>Our services are...</p>

<!--<div class="servicios">
    Contabilidad

    El servicio engloba todo el proceso contable de la empresa; desde la registración, conciliación y análisis de la
    información contable, así como la preparación de los estados financieros anuales cumpliendo con las normas contables
    adecuadas legales vigentes en nuestro país.. A su vez brindamos consultoría para el apoyo de los procedimientos
    administrativos y contables de nuestros clientes, especialmente en aquellos que poseen el proceso contable
    internamente.

    <hr class="featurette-divider">

    Asesoramiento Laboral

    Nos especializamos en brindar servicios de outsourcing laboral, donde se incluye desde la liquidación mensual de
    haberes del personal, envío de nómina, confección de recibos de sueldo (papel o electrónicos), provisiones contables
    e informes laborales, manteniendo una adecuada actualización en un sector que se encuentra en constante cambio.
    También ofrecemos servicios de asesoría en temas laborales específicos, contando con apoyo en profesionales
    especialistas en el área.
    
    <hr class="featurette-divider">

    Asesoramiento Fiscal

    En el área de impuestos buscamos asesorar en forma global, en búsqueda de la mejor conveniencia fiscal para el
    cliente acorde a la normativa actual, y analizando los diferentes beneficios fiscales a los que puede acceder,
    manteniendo una constante actualización en la materia.

    <hr class="featurette-divider">

    Asesoramiento Fiscal
    Contamos con un equipo especializado en la materia para análisis de Proyectos de Inversión, la optimización de los
    mismos, acorde a las características del proyecto y la normativa vigente, incluyendo su presentación ante COMAP y su
    posterior seguimiento.

    <hr class="featurette-divider">

    Proyectos de Inversión
    Nos enfocamos en ayudar a orientar a las empresas a solucionar problemas que identifican, o que necesitan
    identificar; conociendo el negocio y analizando con un equipo de profesionales especializados en la materia.
    Buscamos brindar conocimiento y estrategias, para que el cliente pueda implementar en forma efectiva en su
    organización, tanto en el área tecnológica, financiera y empresarial.

    <hr class="featurette-divider">

    Sociedades por Acciones Simplificadas
    Nos encargamos de todo el proceso, desde la creación de la misma, hasta el mantenimiento de la contabilidad, libros
    e impuestos, brindando un servicio integral y personalizado a la medida de lo que necesitan nuestros clientes.

        Asesoramiento Fiscal

    En el área de impuestos buscamos asesorar en forma global, en búsqueda de la mejor conveniencia fiscal para el
    cliente acorde a la normativa actual, y analizando los diferentes beneficios fiscales a los que puede acceder,
    manteniendo una constante actualización en la materia.

    <hr class="featurette-divider">

    Asesoramiento Fiscal
    Contamos con un equipo especializado en la materia para análisis de Proyectos de Inversión, la optimización de los
    mismos, acorde a las características del proyecto y la normativa vigente, incluyendo su presentación ante COMAP y su
    posterior seguimiento.

    <hr class="featurette-divider">

    Proyectos de Inversión
    Nos enfocamos en ayudar a orientar a las empresas a solucionar problemas que identifican, o que necesitan
    identificar; conociendo el negocio y analizando con un equipo de profesionales especializados en la materia.
    Buscamos brindar conocimiento y estrategias, para que el cliente pueda implementar en forma efectiva en su
    organización, tanto en el área tecnológica, financiera y empresarial.

    <hr class="featurette-divider">

    Sociedades por Acciones Simplificadas
    Nos encargamos de todo el proceso, desde la creación de la misma, hasta el mantenimiento de la contabilidad, libros
    e impuestos, brindando un servicio integral y personalizado a la medida de lo que necesitan nuestros clientes.

</div>-->
