* {
  padding: 0;
  margin: 0;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*queda el fondo estatico*/
  background-size: 100%;

}

h1 {
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  z-index: 101;
  top: 10px;
}


/*NAV MENU*/

nav {
  text-align: end;
  width: 100%;
  position: fixed;
  /*hacemos que el footer quede siempre abajo*/
  left: 0px;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 80px;
  background-color: black;
}

ul.nav-menu {
  display: inline-flex;
  list-style: none;
  margin-top: 15px;

}

a:link {
  text-decoration: none;
}

li {
  margin-right: 20px;
}

a.nav-enlace {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

/*BOX-SERVICES*/

h4 {
  color: white;
  font-weight: bold;
  margin-top: 2%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

div.box-services {
  height: 400px;
  /*background-color: rgba(112, 128, 144, 0.486);*/
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}

div.valores {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /*con esto hago que se centren los div dentro del div padre*/
}

div.valores1 {
  height: 180px;
  width: 355px;
  background-color: rgba(50, 138, 226, 0.685);
  margin: 3px;
  border-radius: 5px;
  /*background-image: url("../images/trayectoria.jpg");*/
  background-size: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.valores1:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);

}

div.valores2 {
  height: 180px;
  width: 355px;
  background-color: rgba(50, 138, 226, 0.685);
  margin: 3px;
  border-radius: 5px;
  /*background-image: url("../images/transparencia.jpg");*/
  background-size: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.valores2:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

div.valores3 {
  height: 180px;
  width: 355px;
  background-color: rgba(50, 138, 226, 0.685);
  margin: 3px;
  border-radius: 5px;
  /*background-image: url("../images/eficacia.jpg");*/
  background-size: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.valores3:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

div.valores4 {
  height: 180px;
  width: 355px;
  background-color: rgba(50, 138, 226, 0.685);
  margin: 3px;
  border-radius: 5px;
  /*background-image: url("../images/confianza.jpg");*/
  background-size: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.valores4:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}


div.valores5 {
  height: 180px;
  width: 355px;
  background-color: rgba(50, 138, 226, 0.685);
  margin: 3px;
  border-radius: 5px;
  /*background-image: url("../images/experiencia.png");*/
  background-size: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.valores5:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}


div.valores6 {
  height: 180px;
  width: 355px;
  background-color: rgba(50, 138, 226, 0.685);
  margin: 3px;
  border-radius: 5px;
  /*background-image: url("../images/excelencia.jpg");*/
  background-size: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.valores6:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}


p {
  color: white;
  margin: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
}



/*i.fa-regular.fa-handshake::before{
  color: beige;
}*/


/*PIE DE PAGINA*/
footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  background-color: black;
  position: fixed;
  /*hacemos que el footer quede siempre abajo*/
  left: 0px;
  bottom: -40px;
  width: 100%;
  height: 150px;

}

footer .principal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  max-width: 1900px;
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;

}


footer .text {
  display: flex;
  flex-direction: column;
  justify-content: c;
  align-items: center;
}

footer .principal div {
  margin: 10px;
  padding: 5px;
  max-width: 350px;
}

footer .principal .text img {
  width: 250px;
}

footer .social-media-menu ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .social-media-menu ul li {
  font-size: 50px;
  padding: 15px;
  list-style: none;
  /*sacamos las viñetas de la lista*/
}


footer .links h3 {
  text-align: center;
}

footer .links ul {
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .links ul li {
  font-size: 1.1em;
  padding: 15px;
  list-style: none;
  /*sacamos las viñetas de la lista*/
}

footer .links ul li a :hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

.contact {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

.contact .fixed-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  padding: 15px;
  border-radius: 100%;
  margin: 10px;
}

.contact .fixed-wp {
  background-color: green;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 100%;
  margin: 10px;
  text-align: center;
}

.contact a i {
  font-size: 50px;
  color: white;
}

/*CONTACTO*/

form.formulario {
  width: 600px;
  height: 500px;
  background-color: slategray;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  display: flex;
  flex-direction: column;

}

form.formulario h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: rgb(152, 168, 184);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgb(90, 127, 163);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
}

form.formulario p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

input {
  width: 100%;
  background-color: rgb(152, 168, 184);
  ;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgb(90, 127, 163);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
}

form.formulario a {
  color: white;
  text-decoration: none;
}

form.formulario textarea {
  width: 100%;
  height: 150px;
}

#text {
  text-align: center;
}


/*SERVICIOS*/

div.servicios{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  
}